
<nav class="navbar navbar-default" >
    <div class="conatiner-fluid">
        <div class="navbar-header" id="nav">
            <a href="#" class="navbar-brand"> CS Gator Rater!</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/Courses">Find a Course to Rate</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav navbar-nav">
                    <a button (click)="onClick()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
