
    <div class="col-xs-12">
    </div>
    <hr>
    <div class="col-xs-12">
        <a  href="#" 
            class="btn btn-primary dropdown-toggle"
            *ngFor="let AboutUs of persons">
            <div class="pull-right">
                <h4 class="list-group-item-heading">{{AboutUs.name}}</h4>
                <hr>
                <h3 class="list-group-item-heading">{{AboutUs.bio}}</h3>
                <hr>
                <h3 class="list-group-item-heading">{{AboutUs.job}}</h3>
            </div>
            <span class="pull-right">
            </span>
        </a>
    </div>

