
<app-header></app-header>
<div class="row">
    <div class="col-xs-12">
        <h1>Welcome to Gator Rater!</h1>
        <hr>
       
    </div>
</div>

    <form class = "wrap">
        <div class = "search">
            <h3>Searching for a Class : </h3>
            <input
            class = "searchTerm"
            type = "text"
            name = "searchTerm"
            placeholder ="What class are you looking for?"
            [(ngModel)]="searchTerm" (input)="search(searchTerm)"
            />
        </div>

        <table class=" "table table-striped:>
            <thead>
                <tr>
                    <th scope ="col">#</th>
                    <th scope ="col">Class</th>
                    <th scope ="col">Professor</th>
                    <th scope ="col">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor =" let class of classes | searchFilter: searchTerm; index as i">
                    <td scope="row">{{ i + 1}}</td>
                    <td>{{ class.name }}</td>
                    <td>{{ class.professor }}</td>
                    <td scope="row"></td>
                </tr>
            </tbody>
        </table>

    


