/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; padding: 0;
    margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(black,darkgray); width:100%; height: 100%; background-repeat: no-repeat; background-size: cover;}
header{background-color: darkgray;}