<div class="container mt-4">
    <h2>Discussion Board for {{className}}</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 col-lg-5 mb-4">
        <!-- Form to submit new post -->
        <form (ngSubmit)="onSubmit(classId,newPost)" #postForm="ngForm" class="border p-3 rounded">
          <div class="form-group">
            <label for="post" style="color: whitesmoke">New Post:</label>
            <textarea class="form-control" id="post" name="post" [(ngModel)]="newPost" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
      <div class="col-md-6 col-lg-7 overflow-auto" style="height: 500px;">
        <!-- Display existing posts for this class -->
        <div class="card border-0 rounded shadow-sm">
          <div class="card-header bg-primary text-light rounded-top">
            <h5 class="m-0">Recent posts:</h5>
          </div>
          <div class="card-body">
            <div *ngFor="let post of posts; let i = index" class="border p-3 rounded mb-3">
              <div class="bg-light p-3 rounded">
                <h6 class="mb-0">Posted by: {{ users[i] }}</h6>
                <hr style="color: black;">
                <p>{{post}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  